<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sanjams.alfred.isengard</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0A480A2B-FC56-46FD-9A93-4AE2D445DF1B</key>
		<array/>
		<key>3F3791B2-0399-4873-A15F-C5A8B42B4EEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>563E7AA3-081B-4352-A5B9-70C960E99FA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CA46813-1098-4C8D-AD68-90BB4813C667</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB91C312-FD8F-4C11-89F6-AB4E58394DAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F3791B2-0399-4873-A15F-C5A8B42B4EEC</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy credentials to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>563E7AA3-081B-4352-A5B9-70C960E99FA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1688DB17-72C2-4053-8560-CBA84C81CDA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75AF3D6D-A1CC-4414-84E7-3720B13E9388</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9A1C37B-8349-4337-B446-B974D1D94BF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4B0D3E73-6E1A-4087-A7DE-63144278C53D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9A1C37B-8349-4337-B446-B974D1D94BF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE663C0D-E1F0-4AAC-8279-1F3D2BE46C8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB91C312-FD8F-4C11-89F6-AB4E58394DAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A480A2B-FC56-46FD-9A93-4AE2D445DF1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3C0F53BB-85DD-40B4-9F1A-5746812FD0E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@sanjams</string>
	<key>description</key>
	<string>Workflows related to Amazon's Isengard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Isengard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0A480A2B-FC56-46FD-9A93-4AE2D445DF1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>out/alfred-isengard federate $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AB91C312-FD8F-4C11-89F6-AB4E58394DAA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>out/alfred-isengard metrics federate 1.0</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3C0F53BB-85DD-40B4-9F1A-5746812FD0E9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>isen</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>finding...</string>
				<key>script</key>
				<string>./out/search $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>out/alfred-isengard</string>
				<key>subtext</key>
				<string>Search for accounts</string>
				<key>title</key>
				<string>Isengard</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4CA46813-1098-4C8D-AD68-90BB4813C667</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Credentials copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1688DB17-72C2-4053-8560-CBA84C81CDA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>563E7AA3-081B-4352-A5B9-70C960E99FA3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>out/alfred-isengard credentials $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F3791B2-0399-4873-A15F-C5A8B42B4EEC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Refresh finished</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AE663C0D-E1F0-4AAC-8279-1F3D2BE46C8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>out/alfred-isengard refresh --partition=$1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A9A1C37B-8349-4337-B446-B974D1D94BF0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>isen refresh</string>
				<key>subtext</key>
				<string>Refresh Isengard Account List</string>
				<key>text</key>
				<string>Refresh</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>75AF3D6D-A1CC-4414-84E7-3720B13E9388</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>out/alfred-isengard metrics refresh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4B0D3E73-6E1A-4087-A7DE-63144278C53D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Alfred Isengard Workflow
This is an [Alfred workflow](https://www.alfredapp.com/) designed to ease the pain brought about by interacting with [Isengard](https://w.amazon.com/index.php/AWS_IT_Security/Isengard)

## Requirements
* [fzf](https://github.com/junegunn/fzf)

## Installation
Simply right click the `AlfredIsengard.alfredworkflow` file in the repository and select "Save file as". Once downloaded, open the file and Alfred should prompt you for installation. 

## Features
### Open Isengard Account Consoles
Alfred Isengard Workflow allows you to quickly open a federated AWS console link for any Isengard account and role you have permission to access. Behind the scenes, Alfred Isengard Workflow stores the list of accounts you are a memeber of and uses [fzf](https://github.com/junegunn/fzf) (a command line fuzzy finder tool) to search that list and provide you the results in your Alfred spotlight.

To create or refresh your list of accounts, simply run `isen refresh`. Then you can begin opening links by running `isen &lt;fuzzy search&gt;`. It's as simple as that.

#### Non-aws partitions
Alfred Isengard works for both aws-cn (bjs/zhy) and aws-gov (pdt) accounts. 

To add aws-cn accounts to your search, first run:

```bash
mwinit --cn
```  

then in Alfred you can run `isen refresh cn` and any aws-cn accounts you can access will now be accessible in the search.

To add aws-gov accounts to your search, first run:

```bash
mwinit --itar
```  

then in Alfred you can run `isen refresh itar` and any aws-cn accounts you can access will now be accessible in the search.

### Copy Account Id

When running the workflow, if the user presses `cmd+c` instead of enter on the account, then the account id will be copied to their clipboard.

### Copy Credentials

Copy credentials for the account by pressing SHIFT + ENTER, the credentials will be copied to your clipboard formatted as exported environment variables. eg:

```
export AWS_ACCESS_KEY_ID=REDACTED AWS_SECRET_ACCESS_KEY=REDACTED AWS_SESSION_TOKEN=REDACTED;
```

## Improvements
* Implement a way to provide a contingent authorization token for the copy credentials feature.
* Dynamic query engines - allow for finders other than fuzzy finder to be configured by the user. 
* Remove the need to externally install fzf.
* Deep link to AWS services</string>
	<key>uidata</key>
	<dict>
		<key>0A480A2B-FC56-46FD-9A93-4AE2D445DF1B</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>1688DB17-72C2-4053-8560-CBA84C81CDA2</key>
		<dict>
			<key>xpos</key>
			<integer>935</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>3C0F53BB-85DD-40B4-9F1A-5746812FD0E9</key>
		<dict>
			<key>note</key>
			<string>emit metric</string>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>3F3791B2-0399-4873-A15F-C5A8B42B4EEC</key>
		<dict>
			<key>note</key>
			<string>out/alfred-isengard refresh</string>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>4B0D3E73-6E1A-4087-A7DE-63144278C53D</key>
		<dict>
			<key>note</key>
			<string>emit metric</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>675</integer>
		</dict>
		<key>4CA46813-1098-4C8D-AD68-90BB4813C667</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>563E7AA3-081B-4352-A5B9-70C960E99FA3</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>75AF3D6D-A1CC-4414-84E7-3720B13E9388</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>A9A1C37B-8349-4337-B446-B974D1D94BF0</key>
		<dict>
			<key>note</key>
			<string>out/alfred-isengard refresh</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>AB91C312-FD8F-4C11-89F6-AB4E58394DAA</key>
		<dict>
			<key>note</key>
			<string>out/alfred-isengard refresh</string>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>AE663C0D-E1F0-4AAC-8279-1F3D2BE46C8E</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>FZF_PATH</key>
		<string>/usr/local/bin/fzf</string>
	</dict>
	<key>version</key>
	<string>1.0.0.6</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
