{{- $alias := promptString "alias" "bdatdo0601" -}}
{{- $email := promptString "email" "dat.b.do@gmail.com" -}}
{{- $machineName := promptString "machineName" "Mac" -}}
{{- $isServer := promptBool "isServer" false -}}

encryption = "age"
[age]
    passphrase = true
[data]
    email = {{ $email | quote }}
    alias = {{ $alias | quote }}
	personal_email = "dat.b.do@gmail.com"
    machineName = {{ $machineName | quote }}
    isServer = {{ $isServer }}
[scriptEnv]
    MY_VAR = "my_value"
[git]
    autoCommit = true
    autoPush = true
[diff]
    exclude = ["scripts"]
    command = "zed"
    args = ["--wait", "--diff"]
[edit]
    command = "zed"
    args = ["--wait"]
[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.pre_setup.sh"
