{{- $alias := promptString "alias" "bdatdo0601" -}}
{{- $email := promptString "email" "dat.b.do@gmail.com" -}}

[data]
    email = {{ $email | quote }}
    alias = {{ $alias | quote }}
[scriptEnv]
    MY_VAR = "my_value"
[git]
    autoCommit = true
    autoPush = true
[diff]
    exclude = ["scripts"]
[edit]
    command = "code"
    args = ["--wait"]