helpers/
helpers/**

README.md

{{- if ne .email "dtdo@amazon.com" }}
# Ignore .company-directory unless configured with a company email
{{- end }}

{{- if ne .email "dat.b.do@gmail.com" }}
.personal-file
{{- end }}

.gitignore
alfred_pref/
alfred_pref/**
encrypted_alfred/
encrypted_alfred/**
dygma_config/
dygma_config/**
path.zsh.zwc