**/helpers/
**/helpers/**

README.md

{{- if ne .email "dtdo@amazon.com" }}
# Ignore .company-directory unless configured with a company email
{{- end }}

{{- if ne .email "dat.b.do@gmail.com" }}
.personal-file
{{- end }}

{{- if ne .email "dat@purplefish.com" }}
.personal-file
{{- end }}

.gitignore
**/alfred_pref/
**/alfred_pref/**
**/encrypted_alfred/
**/encrypted_alfred/**
dygma_config/
dygma_config/**
path.zsh.zwc
*.zwc
**/*.zwc
**/.oh-my-zsh/cache/**/*
**/.oh-my-zsh/cache/*
**/.oh-my-zsh/cache


**/.claude/projects/
**/.claude/projects/**
**/.claude/shell-snapshots/
**/.claude/shell-snapshots/**
**/.claude/statsig/
**/.claude/statsig/**
**/.claude/todos/
**/.claude/todos/**

**/.config/chezmoi
**/.config/chezmoi/**
**/.config/zed/conversations/*
**/.config/zed/conversations/**/*
**/.config/zed/prompts/*
**/.config/zed/prompts/**/*
**/.config/goose/config.yaml.bak*
**/.config/neonctl
**/.config/neonctl/**
**/.config/op
**/.config/op/**
**/.config/nvm
**/.config/nvm/**
**/.config/github-copilot
**/.config/github-copilot/**
**/.config/inngest
**/.config/inngest/**
