{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh
echo "Setting up your Mac..."

echo "Enable File Vault"
sudo fdesetup enable || true

# Create a projects directory if it doesn't exist
if [ ! -d "$HOME/workspace" ]; then
 mkdir $HOME/workspace
fi

{{ end -}}
