{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh
echo "Setting up your Mac..."

echo "Enable File Vault"
sudo fdesetup enable || true

# Install Rust 
if test ! $(which rustup); then
  /bin/sh -c "$(curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs)"
fi

# Check for Oh My Zsh and install if we don't have it
if test ! $(which omz); then
  /bin/sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/HEAD/tools/install.sh)"
fi

# Check for Homebrew and install if we don't have it
# Hash to watch brewfile content {{ include "Brewfile" | sha256sum }}
if test ! $(which brew); then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

  echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> $HOME/.zprofile
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# Install nvm (node)
if test ! $(which nvm); then
  /bin/bash -c "$(curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh)"
fi

# Update Homebrew recipes
brew update

# Install all our dependencies with bundle (See Brewfile)
brew tap homebrew/bundle
brew bundle --file ./Brewfile

# Create a projects directory if it doesn't exist
if [ ! -d "$HOME/workspace" ]; then
 mkdir $HOME/workspace
fi

# Install VSCode Extension
$HOME/.customscripts/install_vscode_ext.sh

# decrypt alfred preferences
mkdir -p $HOME/.local/share/chezmoi/alfred_pref/
for file in encrypted_alfred/*; do
    if [ -f "$file" ]; then
        filename=$(basename "$file")
        echo "decrypt $filename"
        chezmoi decrypt "$file" --output "$HOME/.local/share/chezmoi/alfred_pref/$filename"
    fi
done


# Set macOS preferences - we will run this last because this will reload the shell
source $HOME/.macos
{{ end -}}