#!/bin/sh

WORKSPACE=$HOME/workspace

echo "Cloning repositories..."

{{- if eq .email "dat.b.do@gmail.com" }}
git clone git@github.com:bdatdo0601/big-boi.git $WORKSPACE/big-boi
{{- end }}

{{- if eq .email "dat.do@robinai.com" }}
git clone git@github.com:ai-robin/dat.do.notes.git $WORKSPACE/notes
git clone git@github.com:ai-robin/deployment.git $WORKSPACE/deployment
{{- end }}

echo "Done cloning"