<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0721748B-0FB1-421E-BB43-FF1A63CF2B07</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>is</string>
			<key>text</key>
			<string>Internal Amzn search</string>
			<key>url</key>
			<string>https://is.amazon.com/search/ALL?q={query}&amp;sort=SCORE&amp;sortOrder=DESC&amp;autocompleted=false&amp;trending=false&amp;advancedUsed=false&amp;searchTab=ALL</string>
		</dict>
		<key>1360BDBA-BC8A-4023-B4CA-1182D81CDCFB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>code</string>
			<key>text</key>
			<string>Code Package Search</string>
			<key>url</key>
			<string>https://code.amazon.com/search?term={query}</string>
		</dict>
		<key>3B6D3BBD-21B0-4ACF-B0F2-2FCE9D41B0E3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>plb</string>
			<key>text</key>
			<string>Pipeline Billing</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/search?prefix=AWSBilling{query}</string>
		</dict>
		<key>3C2ED5B1-6027-4757-B5AA-736F2DF77895</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cabft</string>
			<key>text</key>
			<string>Code AWS Billing FT</string>
			<key>url</key>
			<string>https://code.amazon.com/search?term=AWSBillingFulfillmentTracker{query}</string>
		</dict>
		<key>47F213BE-C52D-48A6-AB08-09C7C8E91FFD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cab</string>
			<key>text</key>
			<string>code AWS Billing</string>
			<key>url</key>
			<string>https://code.amazon.com/search?term=AWSBilling{query}</string>
		</dict>
		<key>4988B44F-865C-4AE5-B5D8-EFD1A678F857</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>plbft</string>
			<key>text</key>
			<string>Pipeline Fulfillment Tracker</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/search?prefix=AWSBillingFulfillmentTracker{query}</string>
		</dict>
		<key>5DCB3DE1-FD3F-4439-B1A3-F4157D4CE5A8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>w</string>
			<key>text</key>
			<string>Amazon Wiki Search</string>
			<key>url</key>
			<string>https://w.amazon.com/bin/view/Main/Search?text={query}&amp;f_type=DOCUMENT&amp;f_locale=en&amp;f_locale=&amp;r=1</string>
		</dict>
		<key>5EBC1A3A-5A36-425E-9CA0-99088E3280C2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pl</string>
			<key>text</key>
			<string>Pipeline Search</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/search?prefix={query}</string>
		</dict>
	</dict>
</dict>
</plist>
