<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.amazon.aws.dasmthc.alfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>037A5DD5-7D14-4C0E-80E6-3DADEE35D79A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2A17AFE-DCD3-4945-8A34-960E95A7A6D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18F9DF96-9160-45B1-A7EA-D4F125D55CBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04BDDD5C-9919-4955-933D-AD20A6A33A88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1944413B-752A-4B46-9233-293F06D55983</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5694606D-06CC-4604-A653-04FD234CC238</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>279B02E6-5F85-4587-9C98-5B3DBCE8A33C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87CA6CB8-2076-4676-9131-4A61414FB279</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CEFCDB0-7617-4413-B171-3AD18D57AA31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>222D2F3A-A9E0-43CF-919D-36052F8DE1B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C0328EF1-C6CC-4AC4-8F3A-BC19E5008E77</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Search alt.phone.tool for {query}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2EFF2B40-8337-4647-9125-04342EF64567</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62E0A9BF-29CF-43F7-995E-FB5FF0BF0E1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38272A96-8844-497C-97D4-A8D661E445CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97C8AEBA-FE2F-46AE-8A02-DA5AD1337932</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3850870F-6D09-4C8B-A9AB-2AB0B6396B9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C9DAF26-A17F-4AFF-95BE-6E7865748D82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62E0A9BF-29CF-43F7-995E-FB5FF0BF0E1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6A5E841-5C1A-4514-B34F-6E325353C157</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6756ACAB-F5F6-4C0F-9CFB-B6B5CB0801EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0F87321-0DB6-4D8D-9FD3-25E41371AE7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6ED5314D-821E-4F41-A561-8652F61B4E81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87CA6CB8-2076-4676-9131-4A61414FB279</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F0F87321-0DB6-4D8D-9FD3-25E41371AE7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>42CE3569-6BD8-4FC8-B0FD-9FDABA64ED2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7590B670-8BBD-41AC-A2DB-88B8EE903AD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>457DE74F-747D-4832-8CF5-79D3C6081DF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87BDBFCF-002F-44CC-95AC-D0B1AF794582</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34D71BD2-4260-43C1-8CA1-5B686E0470C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87EE4C24-05E3-42E1-AC11-061422F52419</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>156F65C9-F1CD-4FDC-A1CA-8D5CCBEDF8EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>96019D6F-02F0-4077-B810-6049B70D89C2</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy meeting URL to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C97B402-B9A7-40C9-A0C6-8B63E1F4D40B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>834354A1-EB4A-424F-80A3-B79D70F532AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DB24BE7-A501-45D2-86BD-9104B1A970BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>293E4528-A5A3-4402-B606-50D3A2E7590A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7C4854A-E0EA-4DA3-B6AB-EB4720205FBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DFAFB31-8AFC-4A58-BA5B-A8DC6A6D7E60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8C97C5A-E729-4DD0-992D-44E1818D4E26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A61F4FDE-5724-4A39-8265-969DE143E805</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4AFC363-855C-4112-9469-7DF4063E2E79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8C97C5A-E729-4DD0-992D-44E1818D4E26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C59C46D3-FFEA-4583-A6F1-72827E19BF64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78BD3780-2961-47DC-BAF3-EA4902CC6081</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB79F388-5B43-4B28-B400-CB098714BD1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90333C9E-F62E-4041-B0BC-5B4BF471BD52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1A92008-E238-49AA-906D-A154BD649EC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0174D029-F73A-4319-99B4-C06D963D41E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6BC0CEB-DBFB-4F94-AD07-A45FF806E9C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30298F5C-E5E7-40AC-8811-7225D922AD29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D84781F5-8CAA-4037-B9D2-C96308D3A8EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42CE3569-6BD8-4FC8-B0FD-9FDABA64ED2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD4ECA81-D86D-4EB5-A2AC-CC79B785A390</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3ED1C76B-B05B-4E0C-8119-44CFF6B4EA26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>James Seward &lt;sewardjm@amazon.com&gt;, David Smith &lt;dasmthc@amazon.com&gt;</string>
	<key>description</key>
	<string>Access AWS internal tools quicker and easier with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AWS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://phonetool.amazon.com/search?query={query}&amp;filter_type=All+fields</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>222D2F3A-A9E0-43CF-919D-36052F8DE1B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>phonetool</string>
				<key>subtext</key>
				<string>Search PhoneTool for {query}</string>
				<key>text</key>
				<string>AWS PhoneTool</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2CEFCDB0-7617-4413-B171-3AD18D57AA31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://jakecarr.integ.amazon.com/employee?stmt={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C0328EF1-C6CC-4AC4-8F3A-BC19E5008E77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>answers</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search AWS answers for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>279B02E6-5F85-4587-9C98-5B3DBCE8A33C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://answers.amazon.com/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>87CA6CB8-2076-4676-9131-4A61414FB279</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ec2</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Filter ec2instances.info for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>38272A96-8844-497C-97D4-A8D661E445CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://ec2instances.info/?filter={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>97C8AEBA-FE2F-46AE-8A02-DA5AD1337932</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://email-list.amazon.com/email-list/email-list.mhtml?action=search&amp;name={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>90333C9E-F62E-4041-B0BC-5B4BF471BD52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>email</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search email-lists for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CB79F388-5B43-4B28-B400-CB098714BD1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>account</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search SOT for account {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7590B670-8BBD-41AC-A2DB-88B8EE903AD6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://aws-tools.amazon.com/servicetools/search.aws?searchType=ACCOUNT&amp;query={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>457DE74F-747D-4832-8CF5-79D3C6081DF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wiki</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Amazon wiki for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6756ACAB-F5F6-4C0F-9CFB-B6B5CB0801EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://w.amazon.com/bin/view/Main/Search?text={query}&amp;f_type=DOCUMENT</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F0F87321-0DB6-4D8D-9FD3-25E41371AE7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>awsname</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Working...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>services.py</string>
				<key>subtext</key>
				<string>Type an AWS service name</string>
				<key>title</key>
				<string>Look up the correct name for AWS service</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>037A5DD5-7D14-4C0E-80E6-3DADEE35D79A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B2A17AFE-DCD3-4945-8A34-960E95A7A6D7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://aws-ciw-readonly.amazon.com/cost-management/home?spoofAccountId={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4C9DAF26-A17F-4AFF-95BE-6E7865748D82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>account</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Customer Insights for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>18F9DF96-9160-45B1-A7EA-D4F125D55CBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>account</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>View Cost Explorer for account {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3850870F-6D09-4C8B-A9AB-2AB0B6396B9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://insights.corp.amazon.com/search/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>04BDDD5C-9919-4955-933D-AD20A6A33A88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>account</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Look up account {query} in Fraud Tools</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8DB24BE7-A501-45D2-86BD-9104B1A970BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://neuropa.amazon.com/fraud-tools/account/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>293E4528-A5A3-4402-B606-50D3A2E7590A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://aws-bpc-readonly-midway.corp.amazon.com/billing/home?spoofAccountId={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>34D71BD2-4260-43C1-8CA1-5B686E0470C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>account</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>View Billing Console for account {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>87BDBFCF-002F-44CC-95AC-D0B1AF794582</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>service</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Testing API rate limits...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>services.py</string>
				<key>subtext</key>
				<string>Get service info for {query}</string>
				<key>title</key>
				<string>Look up info on a service</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1096283B-B29A-4BC8-9955-DA7C2137002B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>support</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Command Center cases for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8C97B402-B9A7-40C9-A0C6-8B63E1F4D40B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://command-center.support.aws.a2z.com/case-console#/case-search?search={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>834354A1-EB4A-424F-80A3-B79D70F532AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://wisdom.corp.amazon.com/Pages/searchresults.aspx?k={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>42CE3569-6BD8-4FC8-B0FD-9FDABA64ED2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wisdom</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search widom for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D84781F5-8CAA-4037-B9D2-C96308D3A8EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>help</string>
				<key>subtext</key>
				<string>wow. such query. so {query}</string>
				<key>text</key>
				<string>Search all the things for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6ED5314D-821E-4F41-A561-8652F61B4E81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>156F65C9-F1CD-4FDC-A1CA-8D5CCBEDF8EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>join</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Examining calendar...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>next_chime.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Join Chime meeting</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>87EE4C24-05E3-42E1-AC11-061422F52419</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>96019D6F-02F0-4077-B810-6049B70D89C2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>join</string>
				<key>subtext</key>
				<string>Supply a meeting ID</string>
				<key>text</key>
				<string>Join Chime meeting {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D6BC0CEB-DBFB-4F94-AD07-A45FF806E9C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>chime://meeting/?pin={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>30298F5C-E5E7-40AC-8811-7225D922AD29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://is.amazon.com/search/all?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3ED1C76B-B05B-4E0C-8119-44CFF6B4EA26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>is</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Amazon Internal Search for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DD4ECA81-D86D-4EB5-A2AC-CC79B785A390</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A61F4FDE-5724-4A39-8265-969DE143E805</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fix</string>
				<key>subtext</key>
				<string>Convert account number to 12-digit format and place in clipboard</string>
				<key>text</key>
				<string>Fix account number</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C4AFC363-855C-4112-9469-7DF4063E2E79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>B8C97C5A-E729-4DD0-992D-44E1818D4E26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>docs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search AWS documentation for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1A92008-E238-49AA-906D-A154BD649EC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.aws.amazon.com/search/doc-search.html?searchPath=documentation&amp;searchQuery={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0174D029-F73A-4319-99B4-C06D963D41E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://skills.amazon.com/users/{var:split1}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B6A5E841-5C1A-4514-B34F-6E325353C157</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>skills</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Go to AWS Skills for user {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2EFF2B40-8337-4647-9125-04342EF64567</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>@</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>62E0A9BF-29CF-43F7-995E-FB5FF0BF0E1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>say</string>
				<key>subtext</key>
				<string>Learn how your coworkers pronounce their names</string>
				<key>text</key>
				<string>Open Say My Name for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C59C46D3-FFEA-4583-A6F1-72827E19BF64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://saymyname.tools.amazon.dev/users/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>78BD3780-2961-47DC-BAF3-EA4902CC6081</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>office</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Look up building {query} on Orbit</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1944413B-752A-4B46-9233-293F06D55983</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://orbit.gref.amazon.dev/buildings/search?searchText={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5694606D-06CC-4604-A653-04FD234CC238</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>kumo</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Kumo for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B7C4854A-E0EA-4DA3-B6AB-EB4720205FBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://kumo-knowledge-ui-iad-prod.amazon.com/#q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7DFAFB31-8AFC-4A58-BA5B-A8DC6A6D7E60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>AWS has a lot of helpful internal tools, this workflow helps you get access to them quickly and easily.

Features:
- Search Phonetool based on alias and name
- Hunt for Wisdom (and search the Wiki and Answers)
- Look up Accounts in insights and fraud tools
- Look up EC2 instance types
- Join Chime calls

and more.

Needs "python3" on your $PATH, or install Developer Tools and it should find that one.

The AWS_PROFILE variable is to allow features such as service/region lookup to work. A read-only profile is recommended; the code only reads SSM Parameters from the global /aws namespace.

The ISENGARDCLI_PATH variable is optional. If you're using an isengardcli-powered profile for AWS_PROFILE, set to the directory containing your isengardcli binary. Use the full path, not with things like ~ or $HOME. You'll a valid mwinit cookie before the workflow will work.</string>
	<key>uidata</key>
	<dict>
		<key>0174D029-F73A-4319-99B4-C06D963D41E4</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>2545</real>
		</dict>
		<key>037A5DD5-7D14-4C0E-80E6-3DADEE35D79A</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>04BDDD5C-9919-4955-933D-AD20A6A33A88</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>1096283B-B29A-4BC8-9955-DA7C2137002B</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>1300</real>
		</dict>
		<key>156F65C9-F1CD-4FDC-A1CA-8D5CCBEDF8EE</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>1910</real>
		</dict>
		<key>18F9DF96-9160-45B1-A7EA-D4F125D55CBE</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>1944413B-752A-4B46-9233-293F06D55983</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>2940</real>
		</dict>
		<key>222D2F3A-A9E0-43CF-919D-36052F8DE1B3</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>279B02E6-5F85-4587-9C98-5B3DBCE8A33C</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>293E4528-A5A3-4402-B606-50D3A2E7590A</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>1100</real>
		</dict>
		<key>2CEFCDB0-7617-4413-B171-3AD18D57AA31</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>2EFF2B40-8337-4647-9125-04342EF64567</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>2675</real>
		</dict>
		<key>30298F5C-E5E7-40AC-8811-7225D922AD29</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>2155</real>
		</dict>
		<key>34D71BD2-4260-43C1-8CA1-5B686E0470C6</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>1100</real>
		</dict>
		<key>38272A96-8844-497C-97D4-A8D661E445CE</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>3850870F-6D09-4C8B-A9AB-2AB0B6396B9B</key>
		<dict>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>3ED1C76B-B05B-4E0C-8119-44CFF6B4EA26</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>2290</real>
		</dict>
		<key>42CE3569-6BD8-4FC8-B0FD-9FDABA64ED2D</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>1640</real>
		</dict>
		<key>457DE74F-747D-4832-8CF5-79D3C6081DF2</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>4C9DAF26-A17F-4AFF-95BE-6E7865748D82</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>5694606D-06CC-4604-A653-04FD234CC238</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>2940</real>
		</dict>
		<key>62E0A9BF-29CF-43F7-995E-FB5FF0BF0E1B</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>2705</real>
		</dict>
		<key>6756ACAB-F5F6-4C0F-9CFB-B6B5CB0801EA</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>6ED5314D-821E-4F41-A561-8652F61B4E81</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1770</real>
		</dict>
		<key>7590B670-8BBD-41AC-A2DB-88B8EE903AD6</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>78BD3780-2961-47DC-BAF3-EA4902CC6081</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>2805</real>
		</dict>
		<key>7DFAFB31-8AFC-4A58-BA5B-A8DC6A6D7E60</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>3080</real>
		</dict>
		<key>834354A1-EB4A-424F-80A3-B79D70F532AE</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>1500</real>
		</dict>
		<key>87BDBFCF-002F-44CC-95AC-D0B1AF794582</key>
		<dict>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>1100</real>
		</dict>
		<key>87CA6CB8-2076-4676-9131-4A61414FB279</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>87EE4C24-05E3-42E1-AC11-061422F52419</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1910</real>
		</dict>
		<key>8C97B402-B9A7-40C9-A0C6-8B63E1F4D40B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1500</real>
		</dict>
		<key>8DB24BE7-A501-45D2-86BD-9104B1A970BE</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1100</real>
		</dict>
		<key>90333C9E-F62E-4041-B0BC-5B4BF471BD52</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>96019D6F-02F0-4077-B810-6049B70D89C2</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>2035</real>
		</dict>
		<key>97C8AEBA-FE2F-46AE-8A02-DA5AD1337932</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>A61F4FDE-5724-4A39-8265-969DE143E805</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>2415</real>
		</dict>
		<key>B2A17AFE-DCD3-4945-8A34-960E95A7A6D7</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>B6A5E841-5C1A-4514-B34F-6E325353C157</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>2675</real>
		</dict>
		<key>B7C4854A-E0EA-4DA3-B6AB-EB4720205FBD</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>3080</real>
		</dict>
		<key>B8C97C5A-E729-4DD0-992D-44E1818D4E26</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>2445</real>
		</dict>
		<key>C0328EF1-C6CC-4AC4-8F3A-BC19E5008E77</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>C4AFC363-855C-4112-9469-7DF4063E2E79</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>2415</real>
		</dict>
		<key>C59C46D3-FFEA-4583-A6F1-72827E19BF64</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>2805</real>
		</dict>
		<key>CB79F388-5B43-4B28-B400-CB098714BD1C</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>D1A92008-E238-49AA-906D-A154BD649EC7</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>2545</real>
		</dict>
		<key>D6BC0CEB-DBFB-4F94-AD07-A45FF806E9C8</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>2155</real>
		</dict>
		<key>D84781F5-8CAA-4037-B9D2-C96308D3A8EE</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1640</real>
		</dict>
		<key>DD4ECA81-D86D-4EB5-A2AC-CC79B785A390</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>2290</real>
		</dict>
		<key>F0F87321-0DB6-4D8D-9FD3-25E41371AE7C</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>AWS_PROFILE</key>
		<string></string>
		<key>ISENGARDCLI_PATH</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>ISENGARDCLI_PATH</string>
		<string>AWS_PROFILE</string>
	</array>
	<key>version</key>
	<string>0.14.2</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
